<h1>Your product</h1>

<div class="product">
  <p><strong><%= @product.name %></strong></p>
  <p><%= @product.description %></p>
  <p><%= @product.formatted_price %></p>
</div>

<%= link_to 'Back', root_path %>